body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e0e0e0;

    * {
        color: #000000;
    }
}

.secondary-text {
    color: #828282;
}

.secondary-icon {
    color: #828282;
    fill: #828282;
    stroke: #828282;
    background-color: #888888;
}