# dependencies
client/node_modules

# production
client/build

# deta
serverless/node_modules
serverless/build
serverless/public

# misc
.vscode/
.DS_Store
client/.DS_Store

# logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
