@import './Utils.scss';

body {
    margin: 0;
    font-family: sans-serif;
    background-color: $base-color;
}

#root {
    height: calc(100vh - 20px);
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.centered {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}